
.navbar{
    background-color: 	#A9A9A9;
}

.quem-somos{
    background-color: #D3D3D3;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;

}
.parceiros{
    background-color: 	#A9A9A9;

}
.servicos{
    background-color: #D3D3D3;
}
.bg.footer{
    background-color:#FF1493;
    color:	#FF1493
}